@import 'variables.scss';
@import 'fonts.scss';
@import 'animations.scss';

*, *::after, *::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  position: relative;
  font: normal 16px/1.5 var(--font-serif);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

body {
  display: block;
  position: relative;

  color: rgb(var(--color-black));
  background-color: rgb(var(--color-white));

  &[data-screen="welcome"] {
    max-height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;

    color: rgb(var(--color-white));
    background-color: rgb(var(--color-black));
  }

  &[data-screen="transition"] {
    animation: color-transition 1s;
  }

  &[data-screen="confession"] {
    color: rgb(var(--color-black));
    background-color: rgb(var(--color-secondary));

    &::after {
      content: '';

      position: fixed;
      top: 0;
      left: 0;
      z-index: -1;

      width: 100%;
      height: 100%;

      background-image: var(--gradinet-confession);
    }
  }

  @media screen and (max-width: 1023px) {
    max-height: auto;
    overflow-y: auto;
    scroll-snap-type: none;
  }
}