@import 'variables.scss';
@import 'fonts.scss';
@import 'animations.scss';

*, *::after, *::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;

  color: rgb(var(--color-white));
  background-color: rgb(var(--color-black));
}

html {
  font: normal 16px/1.5 var(--font-serif);
}

body {
  position: relative;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}