.wrapper {
  display: none;
  align-items: center;
  justify-content: center;

  width: var(--max-width);
  height: 100vh;
  max-width: 100%;

  margin: 0 auto;
  overflow: hidden;
  padding: 4rem 2rem 0;

  scroll-snap-align: start;
  scroll-snap-stop: always;

  [data-screen="welcome"] & {
    display: flex;
  }
}

.wall {
  display: flex;
  align-items: flex-end;
  justify-content: center;

  padding: 0 0 4rem;
  opacity: 0;

  transition: opacity 1s 0.5s;

  &[data-appear] {
    opacity: 1;
  }

  &[data-opened] .window {
    opacity: 1;
  }

  &[data-opened] .door svg [fill="transparent"] {
    fill: rgba(254,214,135,1);
  }
}

.door {
  cursor: pointer;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  position: relative;

  height: auto;
  margin: 0 1rem;
  padding-bottom: 2rem;

  svg {
    width: auto;
    height: 80vh;
  }

  svg path {
    transition: fill 1s 1s;
  }

  p {
    display: block;
    position: absolute;
    bottom: -2rem;
    left: 50%;

    width: 10rem;
    max-width: 100%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.075;

    transform: translateX(-50%);
  }
}

.window {
  display: block;

  margin: 0 1rem;
  opacity: 0;

  transition: opacity 1.25s;

  img {
    display: block;

    width: auto;
    height: 80vh;
  }

  &:first-child img {
    height: 75vh;
  }

  &:last-child img {
    height: 75vh;
  }
}