@import '../app/animations.scss';

.wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  width: var(--max-width);
  height: 100vh;
  max-width: 100%;

  margin: 0 auto;
  overflow: hidden;
  padding: 5rem 2rem;

  color: rgb(var(--color-black));
  background-color: rgb(var(--color-white));
}

.frog {
  display: block;
  position: relative;

  width: 9.4375rem;
  height: 5.4375rem;

  background-image: url('/decor/loader-frog.png');
  background-size: contain;
  background-repeat: no-repeat;

  animation: loader-frog 2.625s infinite linear;
}

.title {
  display: block;
  position: relative;

  width: 16rem;
  max-width: 100%;
  margin-top: 2.5rem;

  font-family: var(--font-caption);
  font-size: 3rem;
  font-weight: 700;
  line-height: 0.875;
  text-align: center;

  &::after {
    content: '';

    position: absolute;
    animation: loader-title 2s infinite linear;
  }
}
